<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Checkout</title>
</head>
<body>
<h1>Checkout</h1>
<h2>Your Cart:</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr th:each="item : ${cart.items}">
        <td th:text="${item.product.name}"></td>
        <td th:text="${item.product.price}"></td>
    </tr>
</table>
<h2>Total Price: <span th:text="${cart.totalPrice}"></span></h2>
<form th:action="@{/cart/placeOrder}" method="post">
    <button type="submit">Place Order</button>
</form>
</body>
</html>